.forms {
  height: 100%;
  width: 100%;
  padding: 0 40px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10%;

  & > .form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }
  button.action-button {
    height: 35px;
    width: 70%;
    border: none;
    background-color: green;
    color: #fff;
    border-radius: 5px;
  }
}
